.burger{
    position: relative;
    width: 30px;
    height: 4px;
    background-color: white;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.burger:before,
.burger:after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.burger:before{
    top: -10px;
    width: 20px;
}

.burger:after{
    top: 10px;
    width: 20px;
}

.toggle-menu{
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
    top: 20px;
}

.burger,
.toggle-menu{
    display: none;
}

.nav_menu input:checked ~ .burger{
    background: transparent;
}

.nav_menu input:checked ~ .burger:before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.nav_menu input:checked ~ .burger:after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.nav_menu input:checked ~ .menu{
    right: 0;
}

@media screen and (max-width: 670px){
    .burger,
    .toggle-menu{
        display: block;
    }

    .burger{
        z-index: 3;
    }

    .toggle-menu{
        z-index: 4;
    }

    .header{
        padding: 10px 20px;
    }
    
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #171717;
        width: 300px;
        height: 100%;
        padding-top: 65px;
        z-index: 2;
    }

    .menu li{
        width: 100%;
    }

    .menu li a
    .menu li a:hover{
        padding-bottom: 30px;
        font-size: 24px;
        box-shadow: 0 1px 0 #535353;
    }
}