html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    background-color: #131313;
    font-family: 'Roboto', sans-serif; 
    min-height: 100%;
    position: relative;
    padding-bottom: 250px;
}

.container{
    width: 958px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.nav_menu{
    display: flex;
}

.nav_menu a{
    color: #ffffff;
    text-decoration: none;
}

.nav_menu a:hover{
    color: #ffa55b;
    transition: .3s;
}

.nav_menu a:not(:hover){
    color: #ffffff;
    transition: .4s;
}

.nav_menu ul{
    display: flex;
}

.nav_menu li{
    /* margin-right: 40px; */
    padding: 30px;
    list-style-type: none;
}

.nav_menu li:last-child{
    /* margin-right: 0; */
    padding-right: 0;
}


main{
    margin-top: 60px;
}


/* Projecst */

.projects{
    margin-top: 100px;
}

.projects h1{
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 15px;
}

.grid{
    display: flex;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    
}

.grid_item{
    height: 260px;
    margin: 25px;
}

.card{
    background-color: #171717;
    border-radius: 15px;
    width: 167px;
    height: 167px;
}

.img{
    background-color: #171717;
    border-radius: 15px;
    width: 167px;
    height: 167px;
}

.img img{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    text-align: center;
    margin-top: 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.description{
    text-align: center;
    margin-top: 4px;
    color: #A7A7A7;
    font-size: 14px;
    font-weight: 500;
}

button,
button:active,
button:focus  {
  border:none;
  cursor: pointer;
}

.follow{
    width: 167px;
    height: 40px;
    border-radius: 10px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;

}

.follow:hover{
    background-color: #ffa55b;
    color: white;
    transition: .3s;
}

.follow:not(:hover){
    background-color: #ffffff;
    color: black;
    transition: .4s;
}


/* About Me */

.about_me{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_about h1 {
    color: #ffffff;
    margin-bottom: 16px;
}

.text_about p {
    color: #A7A7A7;
    width: 430px;
}

.ava{
    width: 260px;
    height: 260px;
    margin-right: 80px;
}


/* Footer */

footer{
    position: absolute;
	bottom: 0;
    width: 100%;
    height: 160px;
    background-color: #131313;
}

.elements_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elements_footer img{
    width: 112px;
    height: 50px;
}

.nav_footer a{
    color: #878787;
    text-decoration: none;
    font-size: 12px;
}

.nav_footer a:hover{
    color: #ffffff;
    transition: .3s;
}

.nav_footer a:not(:hover){
    color: #878787;
    transition: .4s;
}

.nav_footer li{
    margin-bottom: 4px;
    list-style-type: none;
}

.nav_footer li:last-child{
    margin-bottom: 0;
}

.nav_menu li:last-child{
    margin-bottom: 0;
}

.contact p{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 22px;
}

